<h1>
  Stack OverFlow Search
</h1>


  <div>

    <input type="text" placeholder="Key Word" [(ngModel)]="word" id="word" name="word">
    
    <button (click)="onSearch()">Search</button>
  
  </div>
  <div *ngIf="reslen>0">
    <table border="2">
      <th>Questions</th>
      <th>Answers</th>
      <tr *ngFor="let item of result">
        <td>{{item.questions}}</td>
        <td>{{item.answer}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="reslen==0">
    <p>No Data Found</p>
  </div>
  